html, body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.lt-container {
    width: 100%;
    height: 100%;
    min-width: 320px;
    max-width: 640px;
    position: relative;
    padding-top: 45px;
    padding-bottom: 55px;
    margin: 0 auto;
    background-color: #fff;
}
.lt-header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    background-color: #069;
    color: #fff;
}
.lt-header a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
}
.lt-header .icon-left {
    left: 0;
}
.lt-header .icon-right {
    right: 0;
}
.lt-header h3 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 45px;
    margin: 0;
}
.lt-footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 55px;
    background-color: #069;
}
.lt-footer li {
    float: left;
    width: 25%;
    height: 55px;
    color: #fff;
    text-align: center;
}
.lt-footer li a {
    color: #fff;
    display: block;
    padding-top: 8px;
}
.lt-footer li p {
    color: #fff;
    margin: 0;
}
.lt-main {
    position: relative;
    width: 100%;
    height: 100%;
}
.lt-main .lt-nav {
    padding-top: 10px;
}
.lt-main .lt-nav li {
    float: left;
    width: 33.3%;
}
.lt-main .lt-nav li img {
    width: 100%;
    display: block;
}
.lt-main .lt-product {
    padding: 10px;
}
.lt-main .lt-product .product-item {
    float: left;
    width: 48%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.lt-main .lt-product .product-item:nth-child(2n+1) {
    margin-right: 4%;
}
.lt-main .lt-product .product-item img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.lt-main .lt-product .product-item .item-desc {
    text-align: left;
    height: 40px;
}
.lt-main .lt-product .product-item .oldPrice {
    text-decoration: line-through;
}
.lt-main .lt-product .product-item .price {
    color: red;
}


/* .lt-catagroy-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    background-color: red;
}
.lt-catagroy-right {
    margin-left: 90px;
    height: 100%;
    background-color: blue;
} */
.lt-catagroy-left {
    float: left;
    width: 90px;
    height: 100%;
    background-color: #fff;
    position: relative;
}
.lt-catagroy-left ul {
    width: 90px;
    background-color: #E3E4E5;
}
.lt-catagroy-left a{
    width: 90px;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
    color: #666;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.lt-catagroy-left a.current{
    background-color: #fff;
    border-right: none;
}

.lt-catagroy-right {
    height: 100%;
    overflow: hidden;
    position: relative;
}
.lt-catagroy-right li {
    float: left;
    width: 33.3%;
}
.lt-catagroy-right li a {
    display: block;
}
.lt-catagroy-right li img {
    width: 70px;
    height: 50px;
    margin: 0 auto;
    display: block;
}
.lt-catagroy-right li p {
    text-align: center;
    color: #666;
}
.tips {
    padding: 10px;
}

.search-input-group {
    padding: 10px;
    position: relative;
}
.search-input-group input {
    height: 34px;
    line-height: 34px;
    border: 1px solid #007AFF;
    font-size: 12px;
    margin: 0;
    border-radius: 5px;
}
.search-input-group button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0 5px 5px 0;
}
.search-history {
    padding: 10px;
    font-size: 12px;
    color: #666;
}
.search-history .title {
    height: 30px;
    line-height: 30px;
}
.search-history .content {
    border: 1px dashed red;
}
.search-history .content li{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed red;
    padding-left: 10px;
}
.search-history .content li:last-child{
    border-bottom: none;
}
.search-history .content li i{
    line-height: 30px;
}

.lt-sort {
    height: 30px;
    line-height: 30px;
    background-color: #eee;
    font-size: 12px;
}
.lt-sort a {
    width: 25%;
    float: left;
    text-align: center;
    color: #666;
}
.lt-sort a.current {
    color: #FF8C00;
}
.loading {
    width: 50px;
    height: 50px;
    border: 3px solid #069;
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    /* 动画效果 */
    animation: rotate 1s infinite ease-in-out;
}
@keyframes rotate {
    from {
        transform: translateX(-50%) rotate(0deg)
    }
    to {
        transform: translateX(-50%) rotate(360deg)
    }
}


.item-box {
    padding: 10px;
    border-top: 1px solid #ccc;
}

.lt-item-price .price {
    color: red;
}
.lt-item-price .oldPrice {
    color: #666;
    text-decoration: line-through;
    font-size: 12px;
}
.lt-item-size span {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #ccc;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 12px;
    display: inline-block;
}
.lt-item-size span.current {
    background-color: orange;
}
.lt-item-num span {
    font-size: 12px;
    color: #666;
}
.lt-cart-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 55px;
    background-color: #efeff4;
    padding: 11px;
}
.lt-cart-wrapper a{
    padding: 5px;
}